<ul class="artist-list">
  {{#each albums}}
  <li>
    <p> {{this.name}} </p>
    <img src="{{this.images.[0].url}}" alt="">
    <a href="/tracks/{{this.id}}" id="albumId">LISTEN TO TRACKS</a>
  </li>
{{/each}}
</ul>