<div class="container">
  <form action="/artist-search-results" method="GET">
    <label for="artist-name">Search for an artist:</label>
    <input type="text" id="artist-name" name="artistSearch" required/>
    <button type="">Search</button>
  </form>
</div>